.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 8rem 4rem 8rem;
}

.tileSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d252a;
  border-radius: 8px;
  outline-color: transparent;
  font-size: 20px;
  text-align: center;
  width: 24rem;
  height: 24rem;
  margin: 1rem;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}
.tileSection:hover,
.tileSection:focus,
.tileSection:active {
  cursor: pointer;
  outline: none;
}
.tileSection:hover {
  transform: scale(1.05);
}

.content {
  font-size: 18px;
  padding: 8px;
  background-color: #2d252a;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .container {
    margin: 0 1.5rem 2rem 1.5rem;
    flex-direction: column;
  }
  .tileSection {
    height: 16rem;
    width: 20rem;
    font-size: 16px;
  }
}
