.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  border-radius: 5px;
  list-style-type:none;
}
.listItem {
  background-color: #FFFAFB;
  color: #161215;
  border-radius: 5px;
  padding: 1.5rem;
}

.title {
  color: #5CC8FF;
}
.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.metadataContent {
  display: inline-flex;
  align-items: center;
}
.emphasized {
  font-weight: 600;
}
