.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitle {
  margin: 0.25rem;
}

.devToLink {
  color: #9B7EDE;
}

.list {
  border-radius: 5px;
  list-style-type:none;
  padding: 0.25rem;
}
.listItem {
  color: #FFFAFB;
  border: 3px solid #5CC8FF;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1rem;
}

.title {
  color: #5CC8FF;
}
.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.metadataContent {
  display: inline-flex;
  align-items: center;
}
.emphasized {
  font-weight: 600;
  color: #9B7EDE;
}
