.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  border-radius: 5px;
  list-style-type:none;
}
.listItem {
  color: #FFFAFB;
  border: 3px solid #5CC8FF;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all .2s ease-in-out;
}
.listItem:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.title {
  color: #5CC8FF;
}
.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.metadataContent {
  display: inline-flex;
  align-items: center;
}
.emphasized {
  font-weight: 600;
  color: #9B7EDE;
}
