.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  border-bottom: 5px solid #fff;
}

.contactItems {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
}
.contactItem {
  margin: 3rem;
}
