.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .4em solid #ff6b6b; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 2.75s steps(40, end),
    blink-caret .75s step-end infinite;
  font-size: 1em;
}

@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ff6b6b; }
}

.title {
  font-size: 56px;
}
.name {
  color: #9B7EDE;
}
.callToActionSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  
}

@media (max-width: 600px) {
  .title {
    font-size: 36px;
    text-align: center;
  }
  .callToActionSection {
    display: flex;
    flex-direction: column;
  }
  .typewriter {
    white-space: normal;
    letter-spacing: 0;
    animation: none;
    border: none;
  }
}
