.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid {	
  display: grid;	
  grid-template-columns: repeat(2, 1fr);	
  grid-template-rows: repeat(2, 300px);	
  grid-gap: 8px;	
  grid-auto-rows: minmax(100px, auto);	
  max-width: 800px;	
  margin: 2rem 0 2rem 0;	
}

@media (max-width: 600px) {	
  .grid {	
    width: 100%;	
    grid-template-columns: repeat(1, 1fr);	
    grid-template-rows: repeat(1, 300px);	
  }	
}
